body {
    background-color: rgb(242,243,241);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(185,81,46);
}

ul {
    list-style: inside;
}

img {
    height: auto;
    width: 500px;
}